{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">

<h1>Todo List!</h1>

<ul>
    {% for todo_item in todo %}
        <li>Item {{ forloop.counter }}: <a href="{% url 'todo:content' todo_item.id %}">{{ todo_item.content }}</a><br>
            Time: {{ todo_item.date }}
            <form action="{% url 'todo:deletetodo' todo_item.id %}" method="POST" style = 'display:inline;'>
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>

<form action="addTodo" method="POST">
    {% csrf_token %}
    <label for="content">Things to do: </label>
    <input type="text" name="content" id ="content"><br><br>
    <label for = "date">Time :</label>
    <input type="datetime" name="date" id ="date"><br><br>
    Details :<br>
    <textarea name="detail" style="width:25%; height:20%;"></textarea><br><br>
    <input class="btn" type="submit" value="Add">
</form>
