<h1>Todo List!</h1>

<ul>
    {% for todo_item in all_items %}
        <li>Item {{ forloop.counter }}: {{ todo_item.content }}<br>Time Created: {{ todo_item.date_created }}
            <form action="deleteTodo/{{todo_item.id}}" method="POST" style = 'display:inline;'>
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>

<form action="addTodo" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">
</form>